# docker-compose.yml
version: '3.9'

services:
  db:
    image: mysql:8.0
    container_name: techforge_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
    # ports:
    #   - "3306:3306"
    command: --default-authentication-plugin=mysql_native_password

  web:
    build: .
    container_name: techforge_django
    restart: unless-stopped
    command: >
      sh -c "python manage.py tailwind start & 
             python manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
    stdin_open: true
    tty: true

  # Optional: only if you want nginx later
  # nginx:
  #   image: nginx:latest
  #   ports:
  #     - "80:80"
  #   volumes:
  #     - ./nginx.conf:/etc/nginx/nginx.conf
  #     - static_volume:/static
  #     - media_volume:/media
  #   depends_on:
  #     - web

volumes:
  mysql_data:
  static_volume:
  media_volume: